@use "themeprovider/themeprovider" as theme;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

$margin-space: 0.3em;

.clock-background {
  background: #312e2b;
  overflow: hidden;
  position: relative;
}

.clock-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .timer-button-top {
    @include theme.timer-button($margin-space $margin-space 0em $margin-space);
    transform: rotate(180deg);
  }

  .timer-button-top-active {
    @include theme.timer-button($margin-space $margin-space 0em $margin-space);
    transform: rotate(180deg);
    background: #7fa650;
  }

  .timer-button-top-lost {
    @include theme.timer-button(0em $margin-space $margin-space $margin-space);
    transform: rotate(180deg);
    background: #b23330;
  }

  .timer-button-bottom {
    @include theme.timer-button(0em $margin-space $margin-space $margin-space);
  }

  .timer-button-bottom-active {
    @include theme.timer-button(0em $margin-space $margin-space $margin-space);
    background: #7fa650;
  }

  .timer-button-bottom-lost {
    @include theme.timer-button(0em $margin-space $margin-space $margin-space);
    background: #b23330;
  }

  .clock-settings {
    padding: 2.4em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .play-pause-icon-disabled {
      @include theme.setting-button();
      cursor: not-allowed;

      img {
        width: 3em;
        filter: invert(55%) sepia(1%) saturate(1728%) hue-rotate(353deg)
          brightness(99%) contrast(91%);
      }
    }

    .play-pause-icon {
      @include theme.setting-button();

      img {
        width: 3em;
        filter: invert(81%) sepia(99%) saturate(0%) hue-rotate(104deg)
          brightness(113%) contrast(100%);
      }
    }

    .settings-icon {
      @include theme.setting-button();

      img {
        width: 3em;
        filter: invert(81%) sepia(99%) saturate(0%) hue-rotate(104deg)
          brightness(113%) contrast(100%);
      }
    }
  }
}
