@use "./themeprovider/themeprovider" as theme;

.settings-modal-wrapper {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  display: flex;
  justify-content: center;

  .settings-modal-content {
    background: rgba(49, 46, 43, 0.35);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: min(40em, 100%);
    padding: 1em 1.2em 3.3em 1.2em;
    overflow: auto;

    // Close Section
    .close-section {
      display: flex;
      justify-content: flex-end;

      button {
        @include theme.setting-button();

        img {
          width: 3.5em;
          filter: invert(81%) sepia(99%) saturate(0%) hue-rotate(104deg)
            brightness(113%) contrast(100%);
        }
      }
    }

    // Bullet Section
    .bullet-section {
      @include theme.modal-section();
      margin-top: 0.5em;

      .bullet-section-buttons {
        @include theme.modal-section-buttons();
      }
    }

    // Blitz Section
    .blitz-section {
      @include theme.modal-section();
      margin-top: 2em;

      .blitz-section-buttons {
        @include theme.modal-section-buttons();
      }
    }

    // Rapid Section
    .rapid-section {
      @include theme.modal-section();
      margin-top: 2em;

      .rapid-section-buttons {
        @include theme.modal-section-buttons();
      }
    }

    // Classical Section
    .classical-section {
      @include theme.modal-section();
      margin-top: 2em;

      .classical-section-buttons {
        @include theme.modal-section-buttons();
      }
    }

    // Custom Section
    .custom-section {
      margin-top: 2em;

      .custom-title {
        color: #ffffffd9;
        font-family: "Noto Sans", sans-serif;
        font-size: 2rem;
      }

      // Custom Player One
      .custom-player-one-section {
        h2 {
          color: #ffffffd9;
          font-family: "Noto Sans", sans-serif;
          font-size: 1.4rem;
          margin-top: 0.5em;
        }

        .custom-player-one-inputs {
          @include theme.custom-player-inputs();
        }
      }

      // Custom Player Two
      .custom-player-two-section {
        h2 {
          color: #ffffffd9;
          font-family: "Noto Sans", sans-serif;
          font-size: 1.4rem;
          margin-top: 1em;
        }

        .custom-player-two-inputs {
          @include theme.custom-player-inputs();
        }
      }

      // Increment Section
      .custom-increment-section {
        h2 {
          color: #ffffffd9;
          font-family: "Noto Sans", sans-serif;
          font-size: 1.4rem;
          margin-top: 1em;
        }

        .custom-increment-form {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          input {
            margin-right: 0.8em;
            margin-top: 0.8em;
            background: rgba(139, 137, 135, 0.4);
            backdrop-filter: blur(13px);
            -webkit-backdrop-filter: blur(13px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            font-family: "Noto Sans", sans-serif;
            color: #ffffffb8;
            padding: 0.3em 0.3em;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: 700;
            width: 5em;

            &:focus {
              outline: none;
            }
          }

          button {
            margin-top: 0.8em;
            font-family: "Noto Sans", sans-serif;
            padding: 0.35em 0.8em;
            border-radius: 5px;
            border: none;
            background: #7fa650;
            color: #ffffffd9;
            font-size: 1.1rem;
            font-weight: 500;
            transition: color 0.1s ease-in-out, background 0.1s ease-in-out;

            &:focus {
              outline: none;
            }

            &:disabled {
              background: #8b8987;
              color: #312e2b;
            }
          }
        }
      }

      // Sound Section
      .sound-section {
        .sound-section-title {
          color: #ffffffd9;
          font-family: "Noto Sans", sans-serif;
          font-size: 2rem;
          margin-top: 0.8em;
        }

        button {
          @include theme.setting-button();
          margin-top: 0.3em;

          img {
            width: 3.5em;
            filter: invert(81%) sepia(99%) saturate(0%) hue-rotate(104deg)
              brightness(113%) contrast(100%);
          }
        }
      }

      .reload-section {
        .reload-section-title {
          color: #ffffffd9;
          font-family: "Noto Sans", sans-serif;
          font-size: 2rem;
          margin-top: 0.8em;
        }

        button {
          @include theme.setting-button();
          margin-top: 0.3em;

          img {
            width: 3.5em;
          }
        }
      }
    }
  }
}
