@mixin setting-button() {
  background: none;
  border: none;
  outline: none;

  &:focus {
    border: none;
    outline: none;
  }
}

@mixin timer-button($margin) {
  font-family: "Noto Sans", sans-serif;
  background: #00000033;
  color: #ffffffd9;
  border: none;
  width: 95%;
  height: 100%;
  margin: $margin;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: bold;

  &:focus {
    border: none;
    outline: none;
  }
}
